<mat-toolbar color="primary" class="navbar">
    <div>
        <a class="links" routerLink="/dashboard">AU Course Management</a>
    </div>
    <div *ngIf="loggedIn">
        <a class="links" routerLink="/all-courses">All Courses</a>
        <a class="links" routerLink="/assigned-courses">My Courses</a>
        <a class="links" routerLink="/manage-courses">Add/Modify Courses</a>
    </div>
    <div *ngIf="loggedIn" class="row">
        <div [ngStyle]="{'background-image': getImgUrl()}" mat-card-avatar class="example-header-image"></div>
        <button mat-icon-button>
            <mat-icon (click)="logout()" class="menu">logout</mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>