.navbar {
    justify-content: space-between;
}
.links{
    text-decoration: none;
    color: white;
    padding: 0px 14px;
}
.logout{
    color: white;
    border-width: 2;
    padding: 0px 14px;
}

.button{
    position:relative;
}
    
.menu{
    position:absolute;
    top:5px; //change the value to set it in center
    left:5px; //change the value to set it in center
}

