<mat-card>
    <table>
        <tr>
            <td>
                <mat-icon color="primary" title="Course">book</mat-icon>
            </td>
            <td>ABC</td>
        </tr>
        <tr>
            <td>
                <mat-icon color="primary" title="Location">location_on</mat-icon>
            </td>
            <td>DEF</td>
        </tr>
        <tr>
            <td>
                <mat-icon color="primary" title="Prerequistes">fact_check</mat-icon>
            </td>
            <td>POKEMON DIGIMON MULTIMON</td>
        </tr>
        <tr>
            <td>
                <mat-icon color="primary" title="Skills" style="transform: scaleY(-1);">wb_incandescent</mat-icon>
            </td>
            <td> SKILL1 , SKILL 2, SKILL 3, SKILL 4</td>
        </tr>
        <tr>
            <td>
                <mat-icon color="primary" title="Trainer">supervisor_account</mat-icon>
            </td>
            <td>Trainer1, Trainer 2</td>
        </tr>
    </table>
    <div class="row">
        <mat-icon color="primary" title="Description">article</mat-icon>
        SMALDASDMLAKSNDKASJMNDLSANDLSA LK SCKEWNCLEW LCKRE K.AELNVRELK VK.AERJVN;AEV
    </div>

</mat-card>